<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Data Management</h1>

		<div class="split">

			<div class="panel">

				<h2>Import from WordPress</h2>

				<p>Import WordPress XML files. Select the import mappings - or where the WordPress posts and pages will be recorded - below and upload the WordPress XML file by pressing on <code>Choose File</code>.</p>

				<form action="/admin/data/import" method="POST" enctype="multipart/form-data">

					<p>Map <strong>posts</strong> to:</p>
					<!-- <select name="map_to">

						<option value="posts" selected>Posts</option>

					</select> <br> -->
					<div class="select">

						<input name="map_posts">
						<% for (const _template of templates) { %>
					
							<div value="<%= _template.id %>"><%= _template.name %></div>
	
						<% } %>

					</div>

					<p>Map <strong>pages</strong> to:</p>
					<div class="select">

						<input name="map_pages">
						<% for (const _template of templates) { %>
					
							<div value="<%= _template.id %>"><%= _template.name %></div>
	
						<% } %>

					</div>

					<br>

					<input type="file" name="file"> <input type="submit" value="Import" class="btn">

				</form>

			</div>

			<div class="panel">

				<h2>Export to JSON</h2>

				<span>Export to JSON for backup or migration purposes.</span>

			</div>

		</div>

		<div class="split">
			
			<div class="panel">

				<h2>API</h2>

				<p>The API is an essential element of the Contenu CMS. It can be accessed at <code>/api</code>. API access for all elements and templates is disabled by default - to allow it, simply create an <code>api_access</code> field in that element or template and set it to <code>true</code>.</p>

				<h3>Routes</h3>

				<!-- <ul>

					<li><code>/api/file/{path}</code> GETs a file
					<li><code>/api/users</code> GETs all existing users</li>
					<li><code>/api/elements</code> GETs all <code>api_access</code>ible elements</li>
					<li><code>/api/templates</code> GETs all templates</li>

				</ul> -->

				<table>

					<tbody>

						<tr>

							<th>Path</th>
							<th>Usage</th>

						</tr>

						<tr>

							<td><code>/api/file/{path}</code></td>
							<td>GETs a file</td>

						</tr>

						<tr>

							<td><code>/api/users</code></td>
							<td>GETs all existing users</td>

						</tr>

						<tr>

							<td><code>/api/elements</code></td>
							<td>GETs all <code>api_access</code>ible elements</td>
							
						</tr>

						<tr>

							<td><code>/api/templates</code></td>
							<td>GETs all templates</td>
							
						</tr>

					</tbody>

				</table>

			</div>

			<div class="panel">

				<h2>Users</h2>

				<a href="/admin/data/edit_user/new" class="btn">Create New User</a>

				<br><br>

				<div>

					<% for (const _user of users) { %>

						<a class="panel" href="/admin/data/edit_user/<%= _user.id %>">

							<h3><%= _user.username %></h3>
						
							<code>ID: <%= _user.id %></code> <br>
							<strong>Type</strong> <%= _user.perm_type %> <br>
							<strong>Email</strong> <%= _user.email %>

						</a>

					<% } %>

				</div>

			</div>

		</div>

		<!-- <div class="contenu__split"> -->

			<div class="panel">

				<h2>Templates</h2>

				<p>Templates can help standardize and structure elements.</p>

				<a href="/admin/data/edit_template/new" class="btn">Create New Template</a>

				<br><br>

				<div>

					<% for (const _template of templates) { %>

						<a class="panel" href="/admin/data/edit_template/<%= _template.id %>">

							<h3><%= _template.name %></h3>
							<code>ID: <%= _template.id %></code>
			
						</a>

					<% } %>

				</div>

			</div>
			
		<!-- </div> -->

		<div class="panel">

			<h2>Files</h2>

			<form action="/admin/data/upload_file" method="POST" enctype="multipart/form-data">

				<input type="file" name="file"> <input type="submit" value="Upload" class="btn">

			</form>

			<div id="files">

				<% for (const _file of files) { %>

					<div class="panel">

						<% if (mime.getType(_file).indexOf("image") !== -1) { %>

							<img src="/api/file/<%= _file %>" style="width: 100px;">
						
						<% } %>

						<h3><%= _file %></h3>

						<span><%= mime.getType(_file) %></span>

						<form action="/admin/data/rename_file" method="POST">
						
							<br>
							<input type="hidden" name="file" value="<%= _file %>">
							<input type="text" name="new_name" placeholder="New Name">
							<input type="submit" value="Rename" class="btn">

						</form>

						<form action="/admin/data/delete_file" method="POST">
						
							<input type="hidden" name="file" value="<%= _file %>">
							<br> <input type="submit" value="Delete" class="btn">

						</form>

					</div>

				<% } %>

			</div>

		</div>
		
	</div>

</body>
</html>
