<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="contenu__dashboard">

		<span class="contenu__title">Data Management</span>

		<div class="contenu__split">

			<div class="contenu__panel">

				<span class="contenu__header">Import from WordPress</span>

				<p>Import WordPress XML files. Select the import mappings - or where the WordPress posts and pages will be recorded - below and upload the WordPress XML file by pressing on <code>Choose File</code>.</p>

				<form action="/admin/data/import" method="POST" enctype="multipart/form-data">

					<p>Map <strong>posts</strong> to:</p>
					<!-- <select name="map_to">

						<option value="posts" selected>Posts</option>

					</select> <br> -->
					<div class="select">

						<input name="map_posts">
						<% for (const _template of templates) { %>
					
							<div value="<%= _template.id %>"><%= _template.name %></div>
	
						<% } %>

					</div>

					<p>Map <strong>pages</strong> to:</p>
					<div class="select">

						<input name="map_pages">
						<% for (const _template of templates) { %>
					
							<div value="<%= _template.id %>"><%= _template.name %></div>
	
						<% } %>

					</div>

					<br>

					<input type="file" name="file"> <input type="submit" value="Import" class="btn">

				</form>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Export to JSON</span>

				<span>Export to JSON for backup or migration purposes.</span>

			</div>

		</div>

		<div class="contenu__split">
			
			<div class="contenu__panel">

				<span class="contenu__header">API</span>

				<p>The API is an essential element of the Contenu CMS. It can be accessed at <code>/api</code>. API access for all elements and templates is disabled by default - to allow it, simply create an <code>api_access</code> field in that element or template and set it to <code>true</code>.</p>

				<span class="contenu__subheader">Routes</span>

				<!-- <ul>

					<li><code>/api/file/{path}</code> GETs a file
					<li><code>/api/users</code> GETs all existing users</li>
					<li><code>/api/elements</code> GETs all <code>api_access</code>ible elements</li>
					<li><code>/api/templates</code> GETs all templates</li>

				</ul> -->

				<table>

					<tbody>

						<tr>

							<th>Path</th>
							<th>Usage</th>

						</tr>

						<tr>

							<td><code>/api/file/{path}</code></td>
							<td>GETs a file</td>

						</tr>

						<tr>

							<td><code>/api/users</code></td>
							<td>GETs all existing users</td>

						</tr>

						<tr>

							<td><code>/api/elements</code></td>
							<td>GETs all <code>api_access</code>ible elements</td>
							
						</tr>

						<tr>

							<td><code>/api/templates</code></td>
							<td>GETs all templates</td>
							
						</tr>

					</tbody>

				</table>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Users</span>

				<a href="/admin/data/edit_user/new" class="btn">Create New User</a>

				<div>

					<% for (const _user of users) { %>

						<a class="contenu__panel" href="/admin/data/edit_user/<%= _user.id %>">

							<span class="contenu__subheader"><%= _user.username %></span>
						
							<code>ID: <%= _user.id %></code> <br>
							<strong>Type</strong> <%= _user.perm_type %> <br>
							<strong>Email</strong> <%= _user.email %>

						</a>

					<% } %>

				</div>

			</div>

		</div>

		<div class="contenu__split">

			<div class="contenu__panel">

				<span class="contenu__header">Templates</span>

				<p>Templates can help standardize and structure elements.</p>

				<a href="/admin/data/edit_template/new" class="btn">Create New Template</a>

				<div>

					<% for (const _template of templates) { %>

						<a class="contenu__panel" href="/admin/data/edit_template/<%= _template.id %>">

							<span class="contenu__subheader"><%= _template.name %></span>
							<code>ID: <%= _template.id %></code>
			
						</a>

					<% } %>

				</div>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Elements</span>

				<p>Elements are API friendly data-fillable components. An element can do a lot: for example, you can create an element that stores a blog post's data for use in a blog webapp, or an element that stores comments for dynamic user interaction.</p>

				<a href="/admin/data/edit_element/new" class="btn">Create New Element</a>
				
				<div>

					<% for (const _element of elements) { %>

						<a class="contenu__panel" href="/admin/data/edit_element/<%= _element.id %>">

							<% if (_element.fields.title) { %>
						
								<span class="contenu__subheader"><%= _element.fields.title %></span>
						
							<% } %>
							
							<code>ID: <%= _element.id %></code> <br>
							<strong>Template</strong> <%= _element.template ? templates.find(_ => _.id === _element.template).name : "None" %> <br>

						</a>

					<% } %>

				</div>

			</div>
			
		</div>

		<div class="contenu__panel">

			<span class="contenu__header">Files</span>

			<form action="/admin/data/upload_file" method="POST" enctype="multipart/form-data">

				<input type="file" name="file"> <input type="submit" value="Upload" class="btn">

			</form>

			<div id="files">

				<% for (const _file of files) { %>

					<div class="contenu__panel">

						<% if (mime.getType(_file).indexOf("image") !== -1) { %>

							<img src="/api/file/<%= _file %>" style="width: 100px;">
						
						<% } %>

						<span class="contenu__subheader"><%= _file %></span>

						<span><%= mime.getType(_file) %></span>

						<form action="/admin/data/rename_file" method="POST">
						
							<br>
							<input type="hidden" name="file" value="<%= _file %>">
							<input type="text" name="new_name" placeholder="New Name">
							<input type="submit" value="Rename" class="btn">

						</form>

						<form action="/admin/data/delete_file" method="POST">
						
							<input type="hidden" name="file" value="<%= _file %>">
							<br> <input type="submit" value="Delete" class="btn">

						</form>

					</div>

				<% } %>

			</div>

		</div>
		
	</div>

</body>
</html>
