<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="contenu__dashboard">

		<span class="contenu__title">Data Management</span>

		<div class="contenu__split">

			<div class="contenu__panel">

				<span class="contenu__header">Import from WordPress</span>

				<p>Import WordPress XML files. Select the import mappings - or where the WordPress posts and pages will be recorded - below and upload the WordPress XML file by pressing on <code>Choose File</code>.</p>

				<form action="/admin/data/import" method="POST" enctype="multipart/form-data">

					<p>Map <strong>posts</strong> to:</p>
					<!-- <select name="map_to">

						<option value="posts" selected>Posts</option>

					</select> <br> -->
					<div class="select">

						<input name="map_posts">
						<div value="posts" selected>Posts</div>

					</div>

					<p>Map <strong>pages</strong> to:</p>
					<div class="select">

						<input name="map_pages">
						<div value="posts" selected>Posts</div>

					</div>

					<br>

					<input type="file" name="file"> <input type="submit" value="Import" class="btn">

				</form>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Export to JSON</span>

				<span>Export to JSON for backup or migration purposes.</span>

			</div>

		</div>

		<div class="contenu__split">
			
			<div class="contenu__panel">

				<span class="contenu__header">API</span>

				<p>The API is an essential element of the Contenu CMS. It can be accessed at <code>/api</code>. API access for all elements and templates is disabled by default - to allow it, simply create an <code>api_access</code> field in that element or template and set it to <code>true</code>.</p>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Users</span>

				<a href="/admin/data/edit_user/new" class="btn">Create New User</a>

				<div>

					<% for (const _user of users) { %>

						<a class="contenu__panel" href="/admin/data/edit_user/<%= _user.id %>">

							<span class="contenu__subheader"><%= _user.username %></span>
						
							<code>ID: <%= _user.id %></code> <br>
							<strong>Type</strong> <%= _user.perm_type %> <br>
							<strong>Email</strong> <%= _user.email %>

						</a>

					<% } %>

				</div>

			</div>

		</div>

		<div class="contenu__split">

			<div class="contenu__panel">

				<span class="contenu__header">Templates</span>

				<p>Templates can help standardize and structure elements.</p>

				<a href="/admin/data/edit_template/new" class="btn">Create New Template</a>

				<div>

					<% for (const _template of templates) { %>

						<a class="contenu__panel" href="/admin/data/edit_template/<%= _template.id %>">

							<span class="contenu__subheader"><%= _template.name %></span>
							<code>ID: <%= _template.id %></code>
			
						</a>

					<% } %>

				</div>

			</div>

			<div class="contenu__panel">

				<span class="contenu__header">Elements</span>

				<p>Elements are API friendly data-fillable components. An element can do a lot: for example, you can create an element that stores a blog post's data for use in a blog webapp, or an element that stores comments for dynamic user interaction.</p>

				<a href="/admin/data/edit_element/new" class="btn">Create New Element</a>
				
				<div>

					<% for (const _element of elements) { %>

						<a class="contenu__panel" href="/admin/data/edit_element/<%= _element.id %>">

							<code>ID: <%= _element.id %></code> <br><br>
						
							<strong>Template</strong> <%= _element.template ? _element.template : "None" %> <br>

						</a>

					<% } %>

				</div>

			</div>
			
		</div>
		
	</div>

</body>
</html>
