<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Edit User</h1>

		<div class="panel">

			<code>ID: <%= user.id %></code>
			<h2><%= user.username %></h2>

			<form method="post">

				<input type="hidden" name="id" value="<%= user.id %>">
				<input type="text" name="username" placeholder="Username" value="<%= user.username %>"> <br>
				<input type="email" name="email" placeholder="Email" value="<%= user.email %>"> <br>
				<input type="password" name="password" placeholder="Password"> <br>

				<div class="select">

					<input name="perm_type" value="<%= user.perm_type %>">

					<div value="viewer" <%= user.perm_type === "viewer" ? "selected" : "" %>>Viewer</div>
					<div value="author" <%= user.perm_type === "author"? "selected" : "" %>>Author</div>
					<div value="admin" <%= user.perm_type === "admin" ? "selected" : "" %>>Admin</div>

				</div> <br>

				<input type="submit" value="Save Changes" class="btn">

			</form>

			<form action="?delete" method="post"><input type="submit" value="Delete User" class="btn"></form>

		</div>
		
	</div>

</body>
</html>
