<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>
	<script src="/admin/static/js/editor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Edit Element</h1>

		<% include ../editor/index %>

		<div class="panel">

			<code>ID: <%= element.id %></code>

			<form method="post">

				<script>
				
					var element = "<%- element.id %>";
					var fields = {};
					// var fields = <%- escape(JSON.stringify(element.fields)) %>;
					var templates = <%- JSON.stringify(templates) %>;

				</script>

				<input type="hidden" name="id" value="<%= element.id %>">
				<input type="hidden" name="fields">

				<br>

				<h2>Template</h2>

				<div class="select">

					<input name="template" value="<%- element.template %>">

					<div value="" <%= element.template === "" ? "selected" : "" %>>None</div>

					<% for (const _template of templates) { %>
					
						<div value="<%= _template.id %>" <%= element.template === _template.id ? "selected" : "" %>><%= _template.name %></div>

					<% } %>

				</div> <br>

				<div id="template_fields" style="text-indent: 25px;">



				</div> <br>

				<h2>Fields</h2>

				<div id="add_field" class="btn">+</div> <br><br>

				<div id="fields" style="text-indent: 25px;">

					

				</div>

				<br>

				<input type="submit" value="Save Changes" class="btn">

			</form>

			<form action="?delete" method="post"><input type="submit" value="Delete Element" class="btn"></form>

		</div>
		
	</div>

</body>
</html>
