<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="contenu__dashboard">

		<span class="contenu__title">Data Management > Edit Element</span>

		<div class="contenu__panel">

			<code>ID: <%= element.id %></code>

			<form method="post">

				<script>
				
					var fields = <%- JSON.stringify(element.fields) %>;

				</script>

				<input type="hidden" name="id" value="<%= element.id %>">
				<input type="hidden" name="fields">

				<br>

				<div class="select">

					<input name="template" value="<%- element.template %>">

				</div> <br>

				<span class="contenu__header">Fields</span>

				<div id="add_field" class="btn">+</div> <br>

				<div id="fields" style="text-indent: 25px;">

					<% for (const field of Object.keys(element.fields)) { %>
					
						<div><input type="text" value="<%- field %>"> <input type="text" value="<%- element.fields[field] %>"> <span class="btn delete_field" style="text-indent: 0;">Delete</span></div>

					<% } %>

				</div>

				<br>

				<input type="submit" value="Save Changes" class="btn">

			</form>

			<form action="?delete" method="post"><input type="submit" value="Delete Element" class="btn"></form>

		</div>
		
	</div>

</body>
</html>
