<!DOCTYPE html>
<html lang="en">
<head>

	<% include head %>

</head>
<body>
	
	<% include menu %>

	<div class="app_body">

		<h1>Elements</h1>

		<p>Elements are API friendly data-fillable components. An element can do a lot: for example, you can create an element that stores a blog post's data for use in a blog webapp, or an element that stores comments for dynamic user interaction.</p>

		<a href="/admin/data/edit_element/new" class="btn">Create New Element</a>

		<br><br>

		<% templates = [{

			id: "",
			name: "None",
			fields: {}

		}, ...templates] %>

		<% for (const _template of templates.filter(_ => !_.fields.hide_from_elements)) { %>

			<% _elements = elements.filter(_ => _.template === _template.id) %>

			<h2><%- _template.name || "Untitled Template" %></h2>

			<div class="elements">

				<% for (const _element of _elements) { %>

					<a id="<%- _element.id %>" class="panel" href="/admin/data/edit_element/<%= _element.id %>">

						<% if (_element.fields.title) { %>
							
							<h3><%= _element.fields.title %></h3>
							
						<% } %>
								
						<code>ID: <%= _element.id %></code> <br>
						<strong>Template</strong> <%= _element.template ? templates.find(_ => _.id === _element.template).name : "None" %> <br>

					</a>

				<% } %>
			
			</div>

		<% } %>		

	</div>

</body>
</html>
